<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Crm" connectionString="Url=https://fcs-pp-crmw.preprod.fcs.sfa.bis.gov.uk/skillsfundingagency; Username=fcspreprod\CRMIntegration; Password=Pa55w0rd!"
         xdt:Transform="SetAttributes(connectionString)"
         xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>