<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="FCTServicesUrl" value="https://doat-api-services-fcs.education.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="FCTServices:ResourceId" value="https://fcsazuresfabisgov.onmicrosoft.com/FCS-OAT-ContractManagementService" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ContractManagementService:ClientId" value="Replace Client ID" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ContractManagementService:AppKey" value="Replace the Key" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>
