<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="FCTServicesUrl" value="https://services-at.fct-sfa.com"/>
    <add key="FCTServices:Tenant" value="fcsazuresfabisgov.onmicrosoft.com"/>
    <add key="FCTServices:ResourceId" value="http://fcsazuresfabisgov.onmicrosoft.com/FCS-DEV-ContractManagementService"/>
    <add key="FCTServices:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    
    <add key="ContractManagementService:ClientId" value="8ce1a821-9d0e-474b-84ed-19c6d982720e"/>
    <add key="ContractManagementService:AppKey" value="8H/]z2vq?4f@rhwwB9dSPNSyqDAI7ltJ"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>

    <add key="CalculateFundingService:Url" value="https://dv-api-calculate-funding.education.gov.uk"/>
    <add key="CalculateFundingService:TenantId" value="fad277c9-c60a-4da1-b5f3-b3b8b34a82f9"/>
    <add key="CalculateFundingService:Resource" value="https://calculatefundingserviceapidev"/>
    <add key="CalculateFundingService:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="CalculateFundingService:ClientId" value="b3b2a71e-842f-4b01-9c6f-72def5020450"/>
    <add key="CalculateFundingService:ClientSecret" value="0CNLxgvaEwsJQPi2W/KnXVQ6BpQ8GidzivAl5F0rlSo="/>

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
