<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="FCTServicesUrl" value="https://api-services-fcs.education.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    
    <add key="FCTServices:ResourceId" value="https://fcsazuresfabisgovuk.onmicrosoft.com/FCS-PROD-contractmanagementservice" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="CalculateFundingService:Url" value="https://api-calculate-funding.education.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CalculateFundingService:Resource" value="https://calculatefundingserviceapi" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CalculateFundingService:ClientId" value="89750847-c904-4793-ae91-61b781e670f9" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CalculateFundingService:ClientSecret" value="XOLkJ97k8n6TYN/5DQNMIlvjkvYmSk0a/8nuXXQavGw=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
