<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!--note this is the DAT config for Dev branch AT, possibly we need AT and DAT configs-->
    <add key="FCTServicesUrl" value="https://services-at.fct-sfa.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>