<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="FCTServicesUrl" value="https://oat-api-services-fcs.education.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="FCTServices:ResourceId" value="https://fcsazuresfabisgov.onmicrosoft.com/FCS-OAT-contractmanagemenservice" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ContractManagementService:ClientId" value="25f8e9f5-a7ab-4857-9c19-0add94785f6f" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ContractManagementService:AppKey" value="mI2K9_NG/:xMNSQ0nu6rRxFIWAwJy.cd" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="CalculateFundingService:Url" value="https://pp-api-calculate-funding.education.gov.uk" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CalculateFundingService:Resource" value="https://calculatefundingserviceapipreprod" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CalculateFundingService:ClientId" value="665fe61b-ea39-43ec-8dbc-69732f3d298b" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="CalculateFundingService:ClientSecret" value="Y86BKxmvqS7du4rNeN7Vyd9ej3AcUEVUcsaaAiy2ERw=" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
