<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="Crm" connectionString="Url=http://fct-crm-dev-01.cloudapp.net/FCTDevR2; Domain=FCTDEV; Username=DEV-CRMintegration; Password=Password@1"/>
  </connectionStrings>
</configuration>