<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CommonWsBinding" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288"
            maxReceivedMessageSize="2147483647" messageEncoding="Text"
            textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="WsClientCertificateTransportSecurity" maxReceivedMessageSize="2147483647">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDedsSearchService" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DedsCertCredential">
          <clientCredentials>
            <clientCertificate 
              findValue="7548dc7ba5fb78e4e7cf665eafff0857db40b3da"
              storeName="My"
              storeLocation="CurrentUser"
              x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
        <behavior name="PreProdDedsCertCredential">
          <clientCredentials>
            <clientCertificate
              findValue="4a177b431d033c248a128c824a230bde20f6093c"
              storeName="My"
              storeLocation="CurrentUser"
              x509FindType="FindByThumbprint" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://23.97.141.20/RoutingService.svc/ReqRes/DedsSearchService/"
                binding="wsHttpBinding"
                bindingConfiguration="CommonWsBinding"
                contract="DedsSearchService.IDedsSearchService"
                name="BasicHttpBinding_IDedsSearchService"/>
      <!--
          <endpoint address="https://preprodexsil.preproddes.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/"
              binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
              contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
            <endpoint address="https://opspubil.opsdes.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/"
                binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
                contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />                
            <endpoint address="https://exsil.des.imservices.org.uk/RoutingService.svc/ReqRes/DedsSearchService/"
                binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
                contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService" />
            <endpoint address="http://localhost:100/Deds/Search/DedsSearchService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDedsSearchService"
                contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchServiceLocal" />
          -->
    </client>
  </system.serviceModel>

  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <file value=" log.txt"/>
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG"/>
      </filter>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
      </filter>
    </appender>
  </log4net>

  <appSettings>
    <add key="SearchEndpointConfigurationName" value="BasicHttpBinding_IDedsSearchService"/>
    <add key="SummarisedActualsDataSetCode"  value="SummarisedActuals"/>
    <add key="DateLastRun" value="2014-01-01"/>
    <add key="AcademicYear" value="1415"  />
  </appSettings>
</configuration>