<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.serviceModel>
    <client>
      <!--<endpoint address="https://40.118.96.160/RoutingService.svc/ReqRes/DedsSearchService/"
              binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
              contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService"
              xdt:Locator="Match(contract)" xdt:Transform="Replace"/>-->

      <endpoint address="https://pubil.preproddes.fasst.org.uk/RoutingService.svc/ReqRes/DedsSearchService/"
              binding="wsHttpBinding" bindingConfiguration="CommonWsBinding"
              contract="DedsSearchService.IDedsSearchService" name="BasicHttpBinding_IDedsSearchService"
              xdt:Locator="Match(contract)" xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>
</configuration>