<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FilePath" value="C:\Users\cfaulconbridge\Documents\BuildRecorderFiles\"/>
    <add key="ArchiveFilePath" value="C:\Users\cfaulconbridge\Documents\BuildRecorderFiles\Archive\"/>
    <add key="FileName" value="BuildRecordings"/>
    <add key="FileExtension" value=".csv"/>
    <add key="LogFilePath" value="C:\Users\cfaulconbridge\Documents\BuildRecorderFiles\"/>
    <add key="LogFileName" value="BuildRecorderLog"/>
    <add key="LogFileExtension" value=".txt"/>
    <add key="MinFinishTime" value="-7"/>
    <add key="MaxBuildsPerDefinition" value="20"/>
    <add key="TfsUsername" value="[Username]"/>
    <add key="TfsPassword" value="[password]"/>
    <add key="TfsDomain" value="CIDEV"/>
    <add key="TfsServerName" value="https://tfs.sfa.bis.gov.uk/DefaultCollection"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
