<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <!-- MITMProxy for debugging 
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://127.0.0.1:8080"/>
    </defaultProxy>
  </system.net>
 -->
  <appSettings>
    <add key="CertificateStoreLocation" value="CurrentUser" />
    <add key="CPDSCertificateThumbprint" value="02f8aa6b64624d133a49e31c45630902935e7bb9"/>
    <add key="CPDSUrl" value="https://preprodcpds.imservices.org.uk/CPDSGateway/GatewayService.svc"/>
  </appSettings>
  
  <system.serviceModel>  
  <client>
    <endpoint address="https://preprodcpds.imservices.org.uk/CPDSGateway/GatewayService.svc"
              binding="basicHttpBinding"
              bindingConfiguration="ClientCertificateTransportSecurity"
              contract="GatewayServiceContract"
              name="DefaultEndpoint"
              behaviorConfiguration="ClientCertificateCredential"/>
  </client>

  <bindings>
    <basicHttpBinding>
      <binding name="ClientCertificateTransportSecurity" maxReceivedMessageSize="2147483647"  >
        <security mode="Transport" >
          <transport clientCredentialType="Certificate" />
        </security>
      </binding>
    </basicHttpBinding>
  </bindings>

  <behaviors  >
    <endpointBehaviors>
      <behavior name="ClientCertificateCredential" >
        <clientCredentials>
          <clientCertificate 
            findValue="02f8aa6b64624d133a49e31c45630902935e7bb9"
            storeName="My" storeLocation="CurrentUser"
            x509FindType="FindByThumbprint" />
        </clientCredentials>
      </behavior>
    </endpointBehaviors>
  </behaviors>
  </system.serviceModel>
</configuration>