<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="CPDSCertificateThumbprint" value="f71d2f39aad4de7207e05cceb264e3b69c2fdfce" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="CPDSUrl" value="https://cpds.imservices.org.uk/CPDSGateway/GatewayService.svc" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.serviceModel>
    <client>
      <endpoint
        contract="GatewayServiceContract"
        address="https://cpds.imservices.org.uk/CPDSGateway/GatewayService.svc" 
        xdt:Transform="SetAttributes(address)" xdt:Locator="Match(contract)" />
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertificateCredential" xdt:Locator="Match(name)">
          <clientCredentials>
            <clientCertificate findValue="f71d2f39aad4de7207e05cceb264e3b69c2fdfce" xdt:Transform="SetAttributes(findValue)" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>