<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!--  <add name="Crm" connectionString="Url=http://fct-crm-dev-01.cloudapp.net/FCTDevR2; Username=Fctdev\fctmega; Password=Pr0j4ct!#"
         xdt:Transform="SetAttributes(connectionString)"
         xdt:Locator="Match(name)"/>-->

 <!--<add name="Crm" connectionString="Url=http://fct-at-crm-01.cloudapp.net/AcceptanceTestDev; Username=Fctdev\MackA; Password=Password2014"
     xdt:Transform="SetAttributes(connectionString)"
     xdt:Locator="Match(name)"/>-->

   <!--  <add name="Crm" connectionString="Url=http://fct-at-crm-01.cloudapp.net/AcceptanceTest; Username=FCTDEV\at-crmintegration; Password=Password@1"
        xdt:Transform="SetAttributes(connectionString)"
        xdt:Locator="Match(name)"/>-->
  
<add name="Crm" connectionString="Url=http://fct-at-crm-01.cloudapp.net/AcceptanceTestDev; Username=FCTDEV\at-crmintegration; Password=Password@1"
         xdt:Transform="SetAttributes(connectionString)"
         xdt:Locator="Match(name)"/>
  

  </connectionStrings>
</configuration>